* {
  font-size: 20px;
}

.App {
  /* text-align: center; */
  background: linear-gradient(#404040, #e8e2ce, #404040);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}