.start {
  background: #b51f1a;
  width: 90%;
  height: 90%;
  padding: 20px;
  color: #e8e2ce;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1, h2 {
    margin: 0;
  }
}

.player-container {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
}

.player-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: center;
  height: 100%;
}

.player {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: 2px solid black;
}

.start-button {
  all: unset;
  background: #404040;
  color: white;
  height: 40px;
  width: 100px;
  text-align: center;
  border: 2px solid #e8e2ce;
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
}